body {
  background-color: rgb(248, 243, 203);
}

.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 48px;
  color: rgb(111, 111, 111);
}
button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: hsl(125, 74%, 45%);
  cursor: pointer;
}
.add-button:hover {
  background-color: hsl(125, 74%, 35%);
}

.edit-button {
  background-color: hsl(50, 83%, 75%);
  cursor: pointer;
}
.edit-button:hover {
  background-color: hsl(50, 83%, 65%);
}

.delete-button {
  background-color: hsl(0, 83%, 60%);
  cursor: pointer;
}
.delete-button:hover {
  background-color: hsl(0, 83%, 50%);
}

.move-button {
  background-color: hsl(207, 82%, 70%);
  cursor: pointer;
}
.move-button:hover {
  background-color: hsl(207, 82%, 60%);
}

.completed {
  text-decoration: line-through;
  color: hsla(0, 0%, 50%, 0.7);
}

input[type="text"] {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}
ol {
  padding: 20px;
}

li {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.edit-button,
.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 18px;
  margin-left: 10px;
}
